/* Este es mi hoja de estilo, box model*/
/*main{
    padding: 8rem 1rem;
    border: 10px; color:rgb(196, 64, 86) ;
    margin: 5rem;
    font-size: x-large;
    font-family: monospace;
}*/

img ¨{
    object-fit: cover;
    width: 50%;
}
/*
.parrafo {
    line-height: 1.5;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif∫;
} */


body {
    background-color: rgb(200, 197, 187);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1 rem;
}
main {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1rem;
}
header {
    background-color: rgb(97, 66, 105);
    grid grid-column-start: 1;
    grid-column-end: 4;
}

#logoheader {
    width: 120px;
}
footer {
    background-color: rgb(154, 60, 110);
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
}
header a{

}

header a: :hover{
    color: pink
}

figcaption {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 400;
font-style: normal;
font-size: .8rem;
paddding: 1rem 0;
}
pre, cite {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
}

cite{ 
    font-size: 2rem;
}
/* Estilos tipográficos */
h1 {
    font font-family: Sue Ellen Francisco", san-serif;
    font weight: 400;
    font style: normal;
    font size: 5rem;
    padding bottom: 1rem;
}
p {
    font font-family: "Hamdle", cursive;
    font weight: 400;
    font style: normal;
    font size: 1.2rem;
    line height: 1.8;
    padding bottom: 1rem;
}

/*Estilos navegación*/
header {
    display: flex;
    justify-content: flex-end;
}
header li {
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
}
header a {
    text-decoration: dotted;
    color: rgb(255, 255, 255);
    transition: all .03s ease 0s;
}
/* Estilo imagenes */
img {
    object-fit: cover;
    width: 100%∫∫;
}
#logo {
    width: 120px;
}